body {
    background-color: rgb(255, 255, 255);
}
nav {
    background-color: midnightblue;
    padding: 10px;
}
nav>a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}
.article,.btn {
    margin: 20px;
}
.article:nth-child(odd){
    background-color: rgb(245, 245, 245);
}